@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CORES:      AZUL 317588         BRANCO   b3c0ce */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
}
#textoColorido{
    color: #317588;
    font-weight: 500;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.contentPricipal{
    flex-grow: 1;   
    min-height: 200px;
}
header{
    background-color: #3468905c;
    text-align: center;
    color: #b3c0ce;
    font-size: 10px;
    padding: 5px;
}
.menuIcon-mobile{
    display: none;
}
.menuMobile{
    display: none;
}
nav{
    display: flex;
    align-items: space-around;
    justify-content: space-between;
    height: 160px;
}

nav ul{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}
nav ul li h2{
    font-weight: 400;
    color: #b3c0ce;
    text-align: center;
    margin-top: 80px;
}
#h2Suporte{
    font-weight: 550;
    color: #317588;
}
#h2Suporte:hover{
    color: #b3c0ce;
    font-weight: 100;
}
nav ul li h2:hover{
    color: #33b2d5;
    font-weight: 550;
}
.logoWearablue{
    padding: 15px;
    display: flex;
    align-items: center;
    width: fit-content;
}
nav img{
    width: 150px;
}
.logoGS{
    margin: auto;
}
footer{
    background-color: #3468905c;
    text-align: center;
    color: #b3c0ce;
    font-size: 20px;
    font-weight: 200;
    padding: 5px;
}

/*                  MEDIA QUERY NAV BAR                             */
@media (max-width: 950px){
    header h1, footer{
        font-size: 8px;
    }
    nav ul li h2{
        font-size: 15px;
        margin-top: 45px;
    }
    nav img{
        width: 100px;
    }
    nav{
        height: 110px;
    }
   
}
/*              MEDIA QUERY MENU DROP DOWN              */
@media screen  and (max-width: 600px){
    .nav-item{
        display: none;
    }
    .menuIcon-mobile{
        display: flex;
        margin-right: 5%;
    }
    .menuIcon-mobile img{
        width: 50px;
    }
    button{
        background-color: rgba(0, 0, 0, 0);
        border: rgba(0, 0, 0, 0);
        cursor: pointer;
    }
    .menuMobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .open{
        display: block;
    }
    
}