
.carrinho{
    padding: 50px;
}
.cont1e-comm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item1cont1{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 10%;
    align-items: center;
}
.item1cont1 h2{
    font-size: 45px;
    color: #317588;
    padding: 20px;
    text-align: center;
    font-weight: 500;
}
.item1cont1 p{
    color: #b3c0ce;
    font-size: 25px;
    padding: 20px;
}
.botaoAnunciar{
    background-color: #3468905c;
    width:fit-content;
    padding: 10px 8px;
    border-radius: 20px;
    display: flex;
    margin-top: 10%;
}
.botaoAnunciar:hover{
    background-color: #3175887e;
    font-weight: 300;
}
.botaoAnunciar a:hover{
    color: #317588;
    font-weight: 400;
}
.botaoAnunciar a{
    font-size: 20px;
    text-align: center;
    color: #b3c0ce;
}
.item2cont2{
    margin-right: 15%;
}

/*                                      MEDIA QUERIES                                       */
@media (max-width: 795px){
    .cont1e-comm{
        flex-direction: column;
        margin: auto;
    }
    .item1cont1{
        margin: auto;
    }
    .item1cont1 p, .item1cont1 h2{
        text-align: center;
    }
    .item2cont2{
        margin: 15% auto;
    }
}

/*                          GRID E-COMMERCE                             */
.cont2e-comm{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    grid-template-areas: 
    'titulocont2 titulocont2 titulocont2 titulocont2'
    'prod1 prod2 prod3 prod4'
    'prod5 prod6 prod7 prod8'
    'prod9 prod10 prod11 prod12'
    'prod13 prod14 prod15 prod16'
    ;
}
.titulocont2{grid-area: titulocont2;}
.prod1{grid-area: prod1;}
.prod2{grid-area: prod2;}
.prod3{grid-area: prod3;}
.prod4{grid-area: prod4;}
.prod5{grid-area: prod5;}
.prod6{grid-area: prod6;}
.prod7{grid-area: prod7;}
.prod8{grid-area: prod8;}
.prod9{grid-area: prod9;}
.prod10{grid-area: prod10;}
.prod11{grid-area: prod11;}
.prod12{grid-area: prod12;}
.prod13{grid-area: prod13;}
.prod14{grid-area: prod14;}
.prod15{grid-area: prod15;}
.prod16{grid-area: prod16;}

.cont2e-comm h3{
    color: #317588;
    font-size: 45px;
    font-weight: 500;
    padding: 5%;
}
.cont2e-comm{
    color: #b3c0ce;
    font-size: 18px;
    text-align: center;
}
.cont2e-comm h4{
    color: #317588;
    font-size: 23px;
    font-weight: 300;
}

.cont2e-comm img{
    width: 200px;
    border: solid 5px #b3c0ce;
    padding: 20px;
}
/*                              MEDIA QUERIES                   */
@media (max-width: 1362px){
    .cont2e-comm img{
        width: 100px;
    }
    .cont2e-comm h4{
        font-size: 20px;
    }
    .cont2e-comm p{
        font-size: 15px;
    }    
}
@media (max-width: 800px) {
    .cont2e-comm{
        padding: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        grid-template-areas: 
        'titulocont2 titulocont2 titulocont2'
        'prod1 prod2 prod3 '
        'prod4 prod5 prod6'
        'prod7 prod8 prod9'
        'prod10 prod11 prod12'
        'prod13 prod14 prod15'
        'prod16 blank blank'
        ;
    }
    .titulocont2{grid-area: titulocont2;}
    .prod1{grid-area: prod1;}
    .prod2{grid-area: prod2;}
    .prod3{grid-area: prod3;}
    .prod4{grid-area: prod4;}
    .prod5{grid-area: prod5;}
    .prod6{grid-area: prod6;}
    .prod7{grid-area: prod7;}
    .prod8{grid-area: prod8;}
    .prod9{grid-area: prod9;}
    .prod10{grid-area: prod10;}
    .prod11{grid-area: prod11;}
    .prod12{grid-area: prod12;}
    .prod13{grid-area: prod13;}
    .prod14{grid-area: prod14;}
    .prod15{grid-area: prod15;}
    .prod16{grid-area: prod16;}
}
@media (max-width: 600px) {
    .cont2e-comm{
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-template-areas: 
        'titulocont2 titulocont2'
        'prod1 prod2'
        'prod3 prod4'
        'prod5 prod6'
        'prod7 prod8'
        'prod9 prod10'
        'prod11 prod12'
        'prod13 prod14'
        'prod15 prod16'
        ;
    }
    .titulocont2{grid-area: titulocont2;}
    .prod1{grid-area: prod1;}
    .prod2{grid-area: prod2;}
    .prod3{grid-area: prod3;}
    .prod4{grid-area: prod4;}
    .prod5{grid-area: prod5;}
    .prod6{grid-area: prod6;}
    .prod7{grid-area: prod7;}
    .prod8{grid-area: prod8;}
    .prod9{grid-area: prod9;}
    .prod10{grid-area: prod10;}
    .prod11{grid-area: prod11;}
    .prod12{grid-area: prod12;}
    .prod13{grid-area: prod13;}
    .prod14{grid-area: prod14;}
    .prod15{grid-area: prod15;}
    .prod16{grid-area: prod16;}
}