

nav{
    align-items: center;
}
.botaoVoltar{
    background-color: #3468905c;
    width:fit-content;
    height: fit-content;
    padding: 40px 10px ;
    border-radius: 100px;
    display: flex;
    margin: 2%;
}
.botaoVoltar:hover{
    background-color: #3175887e;
    font-weight: 300;
}
.botaoVoltar a:hover{
    color: #317588;
    font-weight: 400;
}
.botaoVoltar a{
    font-size: 20px;
    text-align: center;
    color: #b3c0ce;
}
.bannerCadPeca{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bannerCadPeca img{
    width: 300px;
}
.imgbanner{
    width: fit-content;
}
.titulobanner{
    color: #b3c0ce;
    width: 40%;
    text-align: center;
}
.titulobanner h2{
    padding: 15px;
    border: solid 5px #b3c0ce;
    width: fit-content;
    margin:auto;
    font-size: 40px;
}
.titulobanner p{
    padding: 20px;
    font-size: 25px;
}
/*                      MEDIA QUERY BANNER                          */
@media (max-width: 850px){
    .bannerCadPeca img{
        width: 150px;
    }
    .titulobanner h2{
        font-size: 30px;
    }
    .titulobanner p{
        font-size: 20px;
    }
    
}
@media (max-width: 550px){
    nav img{
        width: 100px;
    }
    .botaoVoltar a{
        font-size: 15px;
    }
    .botaoVoltar{
        padding: 30px 10px;
    }
    .bannerCadPeca{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .titulobanner h2{
        font-size: 30px;
    }
    .titulobanner p{
        text-align: center;
        width: 90%;
        font-size: 20px;
    }
    .bannerCadPeca img{
        width: 130px;
    }
    
}
@media (max-width: 450px){
    .titulobanner h2{
        font-size: 15px;
    }
    .titulobanner{
        width: 90%;
    }
}

/*              FORMULARIO                  */
label {
    font-size: 25px;
    color: #b3c0ce;
    padding: 15px;
    font-weight: 400;
}
input, select{
    background-color: #3ba8e781;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 6px 8px;
    color: #021c47;
    font-weight: 400;
}
input:hover, select:hover{
    border: solid 2px #317588
}
.form-group{
    padding: 5px;
}
.formCadPeca h3{
    color: #b3c0ce;
    text-align: center;
    padding: 30px;
    font-size: 35px;
    font-weight: 400;
}
#descricao{
    height: 50px;
    width: 300px;
}
#Preço{
    width: 80px;
}
.formCadPeca{
    margin:auto;
    width: fit-content;
    margin-top: 10%;
}
.inputEnviar {
    font-size: 20px;
    width: 100px;
    border-radius: 10px;
    background-color: #3ba8e7;
    color: #021c47;
    padding: 5px;
    border: #3ba8e7;
    width: fit-content;
}
.inputEnviar:hover {
    background-color: #3ba8e788;
    color: #b3c0ce;
}
.botaoEnviar {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.form-group_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#imgPeca{
    margin-bottom: 5%;
}
.place_holder{
    min-width: 300px;
    min-height: 200px;
    max-width: 400px;
    max-height: fit-content;
    border: solid 2px #b3c0ce;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#b3c0ce;
    background-color: #1d679275;
}

/*       MEDIA QUERY FORMULÁRIO     */

@media (max-width: 500px){
    .formCadPeca h3{
        font-size: 25px;
    }
    label, input, .form-groupDescricao, select {
        font-size: 15px;
        width: fit-content;
    }
    .form-group, .form-groupDescricao{
        display: flex;
        flex-direction: column;
    }
}
